*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}
body {
  /* background: #f2f4f8; */
  background:linear-gradient(135deg,rgb(227, 223, 223),rgb(10, 10, 10));
  font-family: Arial, sans-serif;

}

form {
  width: 400px;
  background: white;
  padding: 20px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin: 30px;

}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.nextbtn {
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  background: BLUE;
  color: white;
  border: none;
  cursor: pointer;
    
}
.submitbtn{
 margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
 
  background: blue;
  color: white;
  border: none;
  cursor: pointer;   
}
button:hover {
  background: #0056b3;
}

.details{
  display: none;
}

.details.active {
  display: block;
}

